# Quartus build products
db/
incremental_db/
output_files/
simulation/
greybox_tmp/
hc_output/
hps_isw_handoff/
.qsys_edit/
*_sim/
*.qws
*.smsg
*.summary
*.rpt
*.done
*.jdi
*.pin
*.sof
*.ppf
*.ddb
*.cdf
*.bak
*.orig
*.rej
*~
build_id.v
c5_pin_model_dump.txt
PLLJ_PLLSPE_INFO.txt
.DS_Store
